<div class="wrapper">
  <div class="content">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Online Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder=" Serach books">
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary"> Serach</button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <div class="list-group">
            <a href="#" class="list-group-item">Text Books</a>
            <a href="#" class="list-group-item">Fantasy</a>
            <a href="#" class="list-group-item">Siences</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            
            <app-book-list></app-book-list>

          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>

  <!-- Footer -->
  <footer class="py-5" footer>
    <div class="container">
      <p class="m-0 text-dark">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</div>