<table border="1" class="table">

    <thead>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>
                <img [src]="book.imageUrl" height="50"/>
            </td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.unitPrice}}</td>
        </tr>
    </tbody>
</table>