<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" [src]="book.imageUrl" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{book.name}}</a>
            </h4>
            <h5>{{book.unitPrice | currency : 'EUR'}}</h5>
            <p class="card-text text-truncate">{{book.description}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right">Add Cart</button>
          </div>
        </div>
      </div>
</div>